<p>Room Number <%= @room.number %></p></br>
<p>Do Not Disturb? <%= @room.do_not_disturb %></p></br>
<p> Note on Room Door: </p>
<%= @room.note %></br></br>
<p> Room Haunting: </p>
<%= @room.haunting %></br></br>
