<% if object.errors.any? %>
<div id= "error_explanation">
    <h3><%= pluralize(object.errors.count, "error") %> prevented from being saved: </h3>
    <ul>
        <% object.errors.full_messages.each do |m| %>
            <li><%= m %></li>
        <% end %>
    </ul>
</div>
<% end %>